@font-face {
  font-family: "Sombrero";
  src: url("./fonts/CactusSandwich.ttf") format("truetype");
}

@font-face {
  font-family: "West";
  src: url("./fonts/WESTTEST.TTF") format("truetype");
}

body{
    margin: 0;
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('assets/img/BackgroundImg/DesertBackground.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    font-family: "Sombrero", serif;
    font-size: 150px;
    font-weight: 400;
    color: rgb(57, 109, 33);
    margin: 0px 0 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

canvas{
    background-color: black;
    border: 8px solid rgb(135, 36, 0);
    justify-self: center;
    align-self: center;
    margin-bottom: 130px;
    display: block;
}

a{
    text-decoration: none;
    color: rgba(130, 35, 1, 0.718);
    position: sticky;
    bottom: 15px;
    font-size: 18px;
}

a:hover{
    color: rgba(57, 19, 0, 0.622);
}

#menuScreen{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    background-image: url('assets/img/BackgroundImg/DesertBackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startNewGame{
    max-width: 620px;
    font-family: "West";
    font-size: 90px;
    color: rgb(135, 36, 0);
    text-align: center;
    cursor: pointer;
    background-color: rgba(251, 216, 171, 0.615);
    border: 6px, solid, rgb(135, 36, 0);
    border-radius: 30px;
}
#startNewGame:hover{
    opacity: 70%;
}



@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
        margin: 0;
    }
    a {
        display: none;
    }
}